html {
    height: 100%;
    font-family: 'DM Sans', sans-serif;
}

body {
   height: 100%;
   margin: 0px;
   padding: 0px;
   background-color: #1c1c1c;
   color: white;
   font-family: 'DM Sans', sans-serif;
}

@font-face {
    font-family: 'grimoire';
    src: url('../public/GrimoireOfDeath-Regular.ttf') format('truetype');
}
  